<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale = 1.0">
        <title>An Giang Tourism</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/places.css">
    </head>

    <body>
        <header class = "header-main">
            <div class = 'header-main-logo'>
                <img src="/Image/aglogo.jpg" alt="AGLogo">
                <nav class = 'header-nav'>
                    <ul>
                        <li><a href="/">GIỚI THIỆU</a></li>
                        <li><a href="places">ĐỊA ĐIỂM</a></li>
                        <li><a href="#">BẢN ĐỒ</a></li>
                    </ul>
                </nav>
            </div>

            <a class = 'setting-icon'>&#9881;</a>
        </header>

        <main class = 'card-container'>
            <a href="/places/artifacts" onmouseover="zoomInCard(0)" onmouseout="zoomOutCard(0)"><div class = 'card'>
                <img src="/Image/khuluuniem.jpg" class = 'card-image'>
                <div>
                    <h3 class="card-title">Khu Lưu Niệm Chủ Tịch Tôn Đức Thắng</h3>
                    <p class = 'card-caption'>Cù Lao Ông Hổ, phường Mỹ Hòa Hưng, thành phố Long Xuyên</p>
                </div>
            </div></a>
        </main>

        <br><br><br><br><br><br><br><br><br><br><br>

        <footer class="footer-main">
            <div class = 'footer-section-1'>
                <img src="/Image/TNHLogo.png" class="tnh-logo">
                <h5 class = 'school-text'>TRƯỜNG THPT CHUYÊN THOẠI NGỌC HẦU</h5>
            </div>

            <div class = 'footer-section-2'>
                <h4 class="section-title">VỀ CHÚNG TÔI</h4>
                <a href="" class = 'footer-link'>About Us</a>
            </div>

            <div class = 'footer-section-2'>
                <h4 class="section-title">KHÁC</h4>
                <a href="/" class = 'footer-link'>Đóng Góp</a>
                <a href="/" class = 'footer-link'>FAQs</a>
            </div>
        </footer>
    </body>
    <script src="/javascript/cssChange.js"></script>
</html>