/* .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.card{
    margin-top: 50px;
}

.test{
    background-color:cyan;
}

.card-image{
    margin-right: 20px;
}

.card-title{
    font-size: 150%;
    font-weight: 600;   
}

.card-caption{
    font-size: 100%;
    color: rgb(203, 199, 199);
    margin-top: 10px;
}